<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Sign Up</title>
</head>

<body>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" autofocus="autofocus" th:field="*{email}" />
  <label for="fullName">Full name</label>
  <input type="text" id="fullName" name="Full name" th:field="*{fullName}" />
  <lable for="dob">Date of birth</lable>
  <input type="date" id="dob" name="Date of birth" th:field="*{dateOfBirth}" />
  <label for="password">Password</label>:
  <input type="password" id="password" name="password" th:field="*{password}" />
  <input type="submit" value="Sign up" />
</form>
</body>

</html>